// Create global styles here

// @import 'style.scss';

$bgColor: #f5f5f5;
// $bgColor: #BAC1B8;
$font: Helvetica;
$monoFont: "Lucida Console", Monaco, monospace;
$font-color: #474448;

html {
  height: 100%;
}

body {
    background: $bgColor;
    font-family: $monoFont;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

p {
  font-family: $monoFont;
  color: $font-color;
}

h1 {
  font-family: $monoFont;
  margin-top: 0;
  margin: 0;
}

h2 {
  font-family: $monoFont;
}
