turing-talk {
  display: block;
  height: 100%
}

.title {
  height: 10%;
  font-size: 9vh;
}

.row {
  composes: pure-g from 'purecss/build/grids.css';
  width: 100%;
}

.chat {
  /* composes: pure-u-1 from 'purecss/build/grids-units.css'; */
  /* composes: pure-u-lg-1-2 from 'purecss/build/grids-responsive.css'; */
  height: 90%;
}

.settings {
  composes: pure-u-1 from 'purecss/build/grids-units.css';
  composes: pure-u-md-1-4 from 'purecss/build/grids-responsive.css';
}

.chatLeft {
  composes: pure-u-md-1-8 from 'purecss/build/grids-responsive.css';
  background-color: #E1F0C4;
  border-radius: 5px 0 0 5px;
}

.chatRight {
  composes: pure-u-md-1-8 from 'purecss/build/grids-responsive.css';
  background-color: #D4E09B;
  border-radius: 0 5px 5px 0;
  text-align: right;
}

.chatDesc {
  composes: pure-u-lg-1-4 from 'purecss/build/grids-responsive.css';
  display: none;
}

.chatBlank {
  composes: pure-u-md-1-8 from 'purecss/build/grids-responsive.css';
}

@media screen and (min-width: 64em) {
  .chatDesc {display: block;}
}

.pagewrap {
  height: 100vh;
}
