enigma-settings {
  display: block;
  height: 100%;
}

.row {
  composes: pure-g from 'purecss/build/grids.css';
}

.col {
  composes: pure-u-1-3 from 'purecss/build/grids-units.css';
}

.colWhole {
  composes: pure-u-1 from 'purecss/build/grids-units.css';
}

.title {
  padding: 5px;
}

.addBtn {

}

.errorBox {
  width: 100%;
  color: #D8000C;
  background-color: #FFBABA;
}
