.row {
  composes: pure-g from 'purecss/build/grids.css';
}

.text {
  composes: pure-u-1 from 'purecss/build/grids.css';
}

.button {
  composes: pure-u-1-8 from 'purecss/build/grids.css';
  composes: pure-button from 'purecss/build/buttons.css';
}

.flexRow {
  display: flex;
}

.flexInput {
  flex: 1;
}

.flexButton {
  composes: pure-button from 'purecss/build/buttons.css';
}
